.gitbook/assets/linechart.json
[
    {
        "id": "bc0d7fb82418faee",
        "type": "inject",
        "z": "7983e4fa30472d01",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "56ae1b0835183b78"
            ]
        ]
    },
    {
        "id": "56ae1b0835183b78",
        "type": "function",
        "z": "7983e4fa30472d01",
        "name": "",
        "func": "// Returns a random integer between min and max\n// Using Math.round() will give you a non-uniform distribution!\nfunction getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nmsg.topic = \"RANDOM\"\nmsg.payload = getRandomInt(4,40)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "0be95b1f54fd4b07"
            ]
        ]
    },
    {
        "id": "0be95b1f54fd4b07",
        "type": "ui_chart",
        "z": "7983e4fa30472d01",
        "name": "",
        "group": "a47a663f0234a895",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a47a663f0234a895",
        "type": "ui_group",
        "name": "Default",
        "tab": "9ed6975a0ffa4570",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ed6975a0ffa4570",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]